<%- include('layout/header') %> 
<%- include('layout/nav') %> 
    <!-- mainbody -->
    <div class="container">
      <h1>Welcome in About</h1>
    <p>About My Story ??</p>
    </div>
    <%- include('layout/footer') %> 