<%- include('layout/header') %> 
<%- include('layout/nav') %> 
    <!-- mainbody -->
    <div class="container">
      <h1>Welcome in Contact</h1>
    <p>Hello Everybody</p>

 
    </div> 
    <%- include('layout/footer') %> 
